body {
  background-color: #09041b;
  color: #ffffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.trip-container {
  height: calc(100vh - 64px);
}

.trip-list, .trip-details {
  flex: 1;
  padding: 16px;
  background-color: #0a0a0a;
}

.trip-list-full-width {
  padding: 35px;
}

@media (max-width: 600px) {
  .trip-list-full-width {
    padding: 0;
  }
}

.divider {
  width: 1px;
  background-color: #161d30;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

button {
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Trip list item hover*/
.css-x3pj3z:hover {
  background-color: transparent !important; 
  border-radius: 8px !important; 
}